version: "3.8"

services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
    restart: unless-stopped

  kaggle-api:
    build: .
    container_name: kaggle-api
    ports:
      - "8000:8000"
    volumes:
      - ~/.kaggle:/root/.kaggle:ro
    restart: unless-stopped

  postgres:
    image: postgres:15
    container_name: postgresql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: kaggle_competitions
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./initdb.sql:/docker-entrypoint-initdb.d/init.sql  # Монтирование скрипта
    restart: unless-stopped

volumes:
  n8n_data:
  postgres_data:
